button{
	background : lightblue;
}
h1{
	text-align : center;
}
table{
	background : lightblue;
}
.center{
	margin-left:auto;
	margin-right:auto;
}
footer{
	text-align : right;
	font-size : 3;
	transform: translateY(1500%);
}